.App {
  text-align: center;
  background-color: #12122F;
  height: 100%;
  // overflow-y: hidden;
  font-family: 'Poppins', sans-serif;
  transition:  0.3s ease !important;
}
h1 {
  font-family: 'PoppinsBold', sans-serif;
  font-weight: 700 !important;
  letter-spacing: 1px;
}
.logo {
  width: 8vw !important;
  margin: 10vh 46vw !important;
  justify-content: center !important;
  img {
    align-self: center;
  }
}